.table_box {
    border: 1.5px solid black;
    text-align: center;
    padding: 10px
}

table {
    width: 800px;
    border-collapse: collapse;
    margin: auto;
    border: 1px solid black;
    margin-top: 30px;
}

.total {
    text-align: center;
    font-size: 80px;
}

.myButtons {
    text-align: center;
}

.button {
    font-size: 30px;
    margin: 10px;
    border-radius: 10%;
    border: 2px solid black;
    background: transparent;
}

.homeBtn {
    font-size: 15px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10%;
    border: 2px solid black;
    background: transparent;
}

.button:hover {
    background: #EAFCFF;
    transform: scale(1.03);
    transition-delay: 0.1s;
    cursor: pointer;
}
.homeBtn:hover{
    background: #EAFCFF;
    transform: scale(1.03);
    transition-delay: 0.1s;
    cursor: pointer;
}